.btn-bg{
    background-color: #905539;
}
.rounded10{
    border-radius: 10px;
}

#nav-with-first-section{
    background-image: url("/images/GeneralImages/first-section-bg.png");
    background-position: top;
    background-repeat: no-repeat;
}
.navbar{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
#first-section>#maintext{
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(90%);
}

.general-link{
    color: black;
    text-decoration: none;
}
.general-link-nu{
    color: black;
    text-decoration: none;
}
.general-link-nu:hover{
    border-bottom: 1px solid currentColor;
}
a:hover{
    color: #07551d;
}

.navbar-radio{
	position: absolute;
	opacity: 0;
	width: 0;
}
.navbar-radio+label{
    cursor: pointer;
}
.navbar-radio:checked+label{
    color: #07551D;
	font-weight: bold;
}
.navbar-radio:focus+label{
    color: #07551D;
    border-bottom: 1px solid currentColor;
}

.sales-form{
    background-image: url("/images/GeneralImages/sales-form-bg.png");
}

#last-section{
    background-image: url("/images/GeneralImages/last-bg.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#howDoWeWork{
    background-image: url("/images/GeneralImages/transition.png");
    background-position: top -600px right 50%;
    background-repeat: no-repeat;
}